body {
    background-color: #f8f8f8;
}


.menu {
    text-align: right;
}

.menu li {
    list-style-type: none;
    display: inline-block;
    height: 50px;
    float: right;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;

}

.menu li:first-child {
    margin-right: 20px;
}

.menu a {
    color: darkgray;
    font-family: verdana;
    font-size: 12px;


}

a:hover {
    color: darkseagreen;
}

a:active {
    color: red;
}


.product {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

.descr {
    font-size: 14px;
    color: #707070;
    font-style: italic;
    line-height: 16px;

    padding-left: 10px;


}

.fulldescr {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.specifications {
    font-size: 14px;
    color: #202020;
    font-family: verdana;
    line-height: 16px;
    list-style-image: url(img/marker.jpg);

}

.inputform {
    width: 500px;
    height: 30px;
    color: #707070;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;

}

.inputemail {
    width: 500px;
    height: 30px;
    color: red;
    background-color: burlywood;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
}



.prodfoto {
    outline: 1px solid #666;

    margin-left: 20px;
    float: left;
    margin-right: 20px;
}

.prodfoto:hover {
    outline: 0px solid #666;
}



.footer:after {
    content: "Все права защищены \00a9  2018. Интернет магазин велосипедов.";
    text-align: right;
    background-color: #ccc;
    float: left;
    height: 20px;
    width: 100%;
   

}



.header {
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
    background: url('/img/logo.png') no-repeat;
    background-size: contain;
    float: left;
    display: inline;

}

.tablehead {
    background: #fc0;
    line-height: 35px;

}

.good p:first-letter {
    text-transform: capitalize;
    color: crimson;
    font-size: 150%;
    font-weight: 900;

}

.table2 {
    height: 300px;
    border-spacing: 15px;
 
    border-style: hidden;

}

.table2 td {

    vertical-align: middle;
    text-align: center;
    width: 80px;
}

.container {
    height: 100px;
    margin: 50 auto;
    outline: 1px solid #ccc;
    background-image: url(img/back.jpg);
}

.photo_and_descr {
    height: 150px;
    border: 1px solid #000;
    padding-top: 20px;
    float: left;

}

.button {
    height: 30px;
    background-color: #aaa;
    color: black;
}

.button:hover {
    color: brown;
}

.button:active {
    color: red;
}
